In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

results = pd.read_csv (r"results.csv", encoding= 'unicode_escape')

In [2]:
results = results.dropna()

In [3]:
results = results.drop(['HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC',
       'HF', 'AF', 'HY', 'AY', 'HR', 'AR'], axis=1)

In [4]:
results.head()

       Season              DateTime  HomeTeam       AwayTeam  FTHG  FTAG FTR
2824  2000-01  2000-08-19T00:00:00Z  Charlton       Man City     4     0   H
2825  2000-01  2000-08-19T00:00:00Z   Chelsea       West Ham     4     2   H
2826  2000-01  2000-08-19T00:00:00Z  Coventry  Middlesbrough     1     3   A
2827  2000-01  2000-08-19T00:00:00Z     Derby    Southampton     2     2   D
2828  2000-01  2000-08-19T00:00:00Z     Leeds        Everton     2     0   H

In [5]:
results = results.rename(columns={'DateTime': 'Date'})

In [6]:
seasons = {}
seasons = results["Season"].unique()
seasons

array(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12',
       '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18',
       '2018-19', '2019-20', '2020-21', '2021-22'], dtype=object)

In [7]:
for i in seasons:
    print(len(results[results['Season'] == i]))

380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
380
70

In [8]:
results = results[results.Season != "2021-22"]

In [9]:
seasons = results["Season"].unique()
seasons

array(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12',
       '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18',
       '2018-19', '2019-20', '2020-21'], dtype=object)

In [10]:
results.tail()

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
10799,2020-21,2021-05-23T16:00:00Z,Liverpool,Crystal Palace,2,0,H
10800,2020-21,2021-05-23T16:00:00Z,Man City,Everton,5,0,H
10801,2020-21,2021-05-23T16:00:00Z,Sheffield United,Burnley,1,0,H
10802,2020-21,2021-05-23T16:00:00Z,West Ham,Southampton,3,0,H
10803,2020-21,2021-05-23T16:00:00Z,Wolves,Man United,1,2,A

In [11]:
results.shape

(7980, 7)

In [12]:
len(seasons)

21

In [13]:
for i in range(len(seasons)):
    seasons[i] = pd.DataFrame(results[results['Season'] == seasons[i]])

seasons

array([       Season                  Date       HomeTeam       AwayTeam  FTHG  FTAG  \
       2824  2000-01  2000-08-19T00:00:00Z       Charlton       Man City     4     0
       2825  2000-01  2000-08-19T00:00:00Z        Chelsea       West Ham     4     2
       2826  2000-01  2000-08-19T00:00:00Z       Coventry  Middlesbrough     1     3
       2827  2000-01  2000-08-19T00:00:00Z          Derby    Southampton     2     2
       2828  2000-01  2000-08-19T00:00:00Z          Leeds        Everton     2     0
       ...       ...                   ...            ...            ...   ...   ...
       3199  2000-01  2001-05-19T00:00:00Z       Man City        Chelsea     1     2
       3200  2000-01  2001-05-19T00:00:00Z  Middlesbrough       West Ham     2     1
       3201  2000-01  2001-05-19T00:00:00Z      Newcastle    Aston Villa     3     0
       3202  2000-01  2001-05-19T00:00:00Z    Southampton        Arsenal     3     2
       3203  2000-01  2001-05-19T00:00:00Z      Tottenham     Man United     3     1

            FTR
       2824   H
       2825   H
       2826   A
       2827   D
       2828   H
       ...   ..
       3199   A
       3200   H
       3201   H
       3202   H
       3203   H

       [380 rows x 7 columns]                                                          ,
              Season                  Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
       3204  2001-02  2001-08-18T00:00:00Z     Charlton      Everton     1     2   A
       3205  2001-02  2001-08-18T00:00:00Z        Derby    Blackburn     2     1   H
       3206  2001-02  2001-08-18T00:00:00Z        Leeds  Southampton     2     0   H
       3207  2001-02  2001-08-18T00:00:00Z    Leicester       Bolton     0     5   A
       3208  2001-02  2001-08-18T00:00:00Z    Liverpool     West Ham     2     1   H
       ...       ...                   ...          ...          ...   ...   ...  ..
       3579  2001-02  2002-05-11T00:00:00Z    Liverpool      Ipswich     5     0   H
       3580  2001-02  2002-05-11T00:00:00Z   Man United     Charlton     0     0   D
       3581  2001-02  2002-05-11T00:00:00Z  Southampton    Newcastle     3     1   H
       3582  2001-02  2002-05-11T00:00:00Z   Sunderland        Derby     1     1   D
       3583  2001-02  2002-05-11T00:00:00Z     West Ham       Bolton     2     1   H

       [380 rows x 7 columns]                                                       ,
              Season                  Date    HomeTeam     AwayTeam  FTHG  FTAG FTR
       3584  2002-03  2002-08-17T00:00:00Z   Blackburn   Sunderland     0     0   D
       3585  2002-03  2002-08-17T00:00:00Z    Charlton      Chelsea     2     3   A
       3586  2002-03  2002-08-17T00:00:00Z     Everton    Tottenham     2     2   D
       3587  2002-03  2002-08-17T00:00:00Z      Fulham       Bolton     4     1   H
       3588  2002-03  2002-08-17T00:00:00Z       Leeds     Man City     3     0   H
       ...       ...                   ...         ...          ...   ...   ...  ..
       3959  2002-03  2003-05-11T00:00:00Z       Leeds  Aston Villa     3     1   H
       3960  2002-03  2003-05-11T00:00:00Z    Man City  Southampton     0     1   A
       3961  2002-03  2003-05-11T00:00:00Z  Sunderland      Arsenal     0     4   A
       3962  2002-03  2003-05-11T00:00:00Z   Tottenham    Blackburn     0     4   A
       3963  2002-03  2003-05-11T00:00:00Z   West Brom    Newcastle     2     2   D

       [380 rows x 7 columns]                                                      ,
              Season                  Date    HomeTeam       AwayTeam  FTHG  FTAG FTR
       3964  2003-04  2003-08-16T00:00:00Z     Arsenal        Everton     2     1   H
       3965  2003-04  2003-08-16T00:00:00Z  Birmingham      Tottenham     1     0   H
       3966  2003-04  2003-08-16T00:00:00Z   Blackburn         Wolves     5     1   H
       3967  2003-04  2003-08-16T00:00:00Z      Fulham  Middlesbrough     3     2   H
       3968  2003-04  2003-08-16T00:00:00Z   Leicester    Southampton     2     2   D
       ...       ...                   ...         ...            ...   ...   ...  ..
       4339  2003-04  2004-05-15T00:00:00Z     Chelsea          Leeds     1     0   H
       4340  2003-04  2004-05-15T00:00:00Z   Liverpool      Newcastle     1     1   D
       4341  2003-04  2004-05-15T00:00:00Z    Man City        Everton     5     1   H
       4342  2003-04  2004-05-15T00:00:00Z  Portsmouth  Middlesbrough     5     1   H
       4343  2003-04  2004-05-15T00:00:00Z      Wolves      Tottenham     0     2   A

       [380 rows x 7 columns]                                                        ,
              Season                  Date       HomeTeam       AwayTeam  FTHG  FTAG  \
       4344  2004-05  2004-08-14T00:00:00Z    Aston Villa    Southampton     2     0
       4345  2004-05  2004-08-14T00:00:00Z      Blackburn      West Brom     1     1
       4346  2004-05  2004-08-14T00:00:00Z         Bolton       Charlton     4     1
       4347  2004-05  2004-08-14T00:00:00Z       Man City         Fulham     1     1
       4348  2004-05  2004-08-14T00:00:00Z  Middlesbrough      Newcastle     2     2
       ...       ...                   ...            ...            ...   ...   ...
       4719  2004-05  2005-05-15T00:00:00Z       Man City  Middlesbrough     1     1
       4720  2004-05  2005-05-15T00:00:00Z      Newcastle        Chelsea     1     1
       4721  2004-05  2005-05-15T00:00:00Z    Southampton     Man United     1     2
       4722  2004-05  2005-05-15T00:00:00Z      Tottenham      Blackburn     0     0
       4723  2004-05  2005-05-15T00:00:00Z      West Brom     Portsmouth     2     0

            FTR
       4344   H
       4345   D
       4346   H
       4347   D
       4348   D
       ...   ..
       4719   D
       4720   D
       4721   A
       4722   D
       4723   H

       [380 rows x 7 columns]                                                          ,
              Season                  Date       HomeTeam       AwayTeam  FTHG  FTAG  \
       4724  2005-06  2005-08-13T00:00:00Z    Aston Villa         Bolton     2     2
       4725  2005-06  2005-08-13T00:00:00Z        Everton     Man United     0     2
       4726  2005-06  2005-08-13T00:00:00Z         Fulham     Birmingham     0     0
       4727  2005-06  2005-08-13T00:00:00Z       Man City      West Brom     0     0
       4728  2005-06  2005-08-13T00:00:00Z  Middlesbrough      Liverpool     0     0
       ...       ...                   ...            ...            ...   ...   ...
       5099  2005-06  2006-05-07T00:00:00Z         Fulham  Middlesbrough     1     0
       5100  2005-06  2006-05-07T00:00:00Z     Man United       Charlton     4     0
       5101  2005-06  2006-05-07T00:00:00Z      Newcastle        Chelsea     1     0
       5102  2005-06  2006-05-07T00:00:00Z     Portsmouth      Liverpool     1     3
       5103  2005-06  2006-05-07T00:00:00Z       West Ham      Tottenham     2     1

            FTR
       4724   D
       4725   A
       4726   D
       4727   D
       4728   D
       ...   ..
       5099   H
       5100   H
       5101   H
       5102   A
       5103   H

       [380 rows x 7 columns]                                                          ,
              Season                  Date          HomeTeam     AwayTeam  FTHG  \
       5104  2006-07  2006-08-19T00:00:00Z           Arsenal  Aston Villa     1
       5105  2006-07  2006-08-19T00:00:00Z            Bolton    Tottenham     2
       5106  2006-07  2006-08-19T00:00:00Z           Everton      Watford     2
       5107  2006-07  2006-08-19T00:00:00Z         Newcastle        Wigan     2
       5108  2006-07  2006-08-19T00:00:00Z        Portsmouth    Blackburn     3
       ...       ...                   ...               ...          ...   ...
       5479  2006-07  2007-05-13T00:00:00Z     Middlesbrough       Fulham     3
       5480  2006-07  2007-05-13T00:00:00Z        Portsmouth      Arsenal     0
       5481  2006-07  2007-05-13T00:00:00Z  Sheffield United        Wigan     1
       5482  2006-07  2007-05-13T00:00:00Z         Tottenham     Man City     2
       5483  2006-07  2007-05-13T00:00:00Z           Watford    Newcastle     1

             FTAG FTR
       5104     1   D
       5105     0   H
       5106     1   H
       5107     1   H
       5108     0   H
       ...    ...  ..
       5479     1   H
       5480     0   D
       5481     2   A
       5482     1   H
       5483     1   D

       [380 rows x 7 columns]                                                     ,
              Season                  Date       HomeTeam     AwayTeam  FTHG  FTAG  \
       5484  2007-08  2007-08-11T00:00:00Z    Aston Villa    Liverpool     1     2
       5485  2007-08  2007-08-11T00:00:00Z         Bolton    Newcastle     1     3
       5486  2007-08  2007-08-11T00:00:00Z          Derby   Portsmouth     2     2
       5487  2007-08  2007-08-11T00:00:00Z        Everton        Wigan     2     1
       5488  2007-08  2007-08-11T00:00:00Z  Middlesbrough    Blackburn     1     2
       ...       ...                   ...            ...          ...   ...   ...
       5859  2007-08  2008-05-11T00:00:00Z     Portsmouth       Fulham     0     1
       5860  2007-08  2008-05-11T00:00:00Z     Sunderland      Arsenal     0     1
       5861  2007-08  2008-05-11T00:00:00Z      Tottenham    Liverpool     0     2
       5862  2007-08  2008-05-11T00:00:00Z       West Ham  Aston Villa     2     2
       5863  2007-08  2008-05-11T00:00:00Z          Wigan   Man United     0     2

            FTR
       5484   A
       5485   A
       5486   D
       5487   H
       5488   A
       ...   ..
       5859   A
       5860   A
       5861   A
       5862   D
       5863   A

       [380 rows x 7 columns]                                                        ,
              Season                  Date       HomeTeam       AwayTeam  FTHG  FTAG  \
       5864  2008-09  2008-08-16T00:00:00Z        Arsenal      West Brom     1     0
       5865  2008-09  2008-08-16T00:00:00Z         Bolton          Stoke     3     1
       5866  2008-09  2008-08-16T00:00:00Z        Everton      Blackburn     2     3
       5867  2008-09  2008-08-16T00:00:00Z           Hull         Fulham     2     1
       5868  2008-09  2008-08-16T00:00:00Z  Middlesbrough      Tottenham     2     1
       ...       ...                   ...            ...            ...   ...   ...
       6239  2008-09  2009-05-24T00:00:00Z      Liverpool      Tottenham     3     1
       6240  2008-09  2009-05-24T00:00:00Z       Man City         Bolton     1     0
       6241  2008-09  2009-05-24T00:00:00Z     Sunderland        Chelsea     2     3
       6242  2008-09  2009-05-24T00:00:00Z       West Ham  Middlesbrough     2     1
       6243  2008-09  2009-05-24T00:00:00Z          Wigan     Portsmouth     1     0

            FTR
       5864   H
       5865   H
       5866   A
       5867   H
       5868   H
       ...   ..
       6239   H
       6240   H
       6241   A
       6242   H
       6243   H

       [380 rows x 7 columns]                                                          ,
              Season                  Date     HomeTeam    AwayTeam  FTHG  FTAG FTR
       6244  2009-10  2009-08-15T00:00:00Z  Aston Villa       Wigan     0     2   A
       6245  2009-10  2009-08-15T00:00:00Z    Blackburn    Man City     0     2   A
       6246  2009-10  2009-08-15T00:00:00Z       Bolton  Sunderland     0     1   A
       6247  2009-10  2009-08-15T00:00:00Z      Chelsea        Hull     2     1   H
       6248  2009-10  2009-08-15T00:00:00Z      Everton     Arsenal     1     6   A
       ...       ...                   ...          ...         ...   ...   ...  ..
       6619  2009-10  2010-05-09T00:00:00Z      Everton  Portsmouth     1     0   H
       6620  2009-10  2010-05-09T00:00:00Z         Hull   Liverpool     0     0   D
       6621  2009-10  2010-05-09T00:00:00Z   Man United       Stoke     4     0   H
       6622  2009-10  2010-05-09T00:00:00Z     West Ham    Man City     1     1   D
       6623  2009-10  2010-05-09T00:00:00Z       Wolves  Sunderland     2     1   H

       [380 rows x 7 columns]                                                      ,
              Season                  Date     HomeTeam    AwayTeam  FTHG  FTAG FTR
       6624  2010-11  2010-08-14T00:00:00Z  Aston Villa    West Ham     3     0   H
       6625  2010-11  2010-08-14T00:00:00Z    Blackburn     Everton     1     0   H
       6626  2010-11  2010-08-14T00:00:00Z       Bolton      Fulham     0     0   D
       6627  2010-11  2010-08-14T00:00:00Z      Chelsea   West Brom     6     0   H
       6628  2010-11  2010-08-14T00:00:00Z   Sunderland  Birmingham     2     2   D
       ...       ...                   ...          ...         ...   ...   ...  ..
       6999  2010-11  2011-05-22T00:00:00Z    Newcastle   West Brom     3     3   D
       7000  2010-11  2011-05-22T00:00:00Z        Stoke       Wigan     0     1   A
       7001  2010-11  2011-05-22T00:00:00Z    Tottenham  Birmingham     2     1   H
       7002  2010-11  2011-05-22T00:00:00Z     West Ham  Sunderland     0     3   A
       7003  2010-11  2011-05-22T00:00:00Z       Wolves   Blackburn     2     3   A

       [380 rows x 7 columns]                                                      ,
              Season                  Date    HomeTeam     AwayTeam  FTHG  FTAG FTR
       7004  2011-12  2011-08-13T00:00:00Z   Blackburn       Wolves     1     2   A
       7005  2011-12  2011-08-13T00:00:00Z      Fulham  Aston Villa     0     0   D
       7006  2011-12  2011-08-13T00:00:00Z   Liverpool   Sunderland     1     1   D
       7007  2011-12  2011-08-13T00:00:00Z   Newcastle      Arsenal     0     0   D
       7008  2011-12  2011-08-13T00:00:00Z         QPR       Bolton     0     4   A
       ...       ...                   ...         ...          ...   ...   ...  ..
       7379  2011-12  2012-05-13T00:00:00Z  Sunderland   Man United     0     1   A
       7380  2011-12  2012-05-13T00:00:00Z     Swansea    Liverpool     1     0   H
       7381  2011-12  2012-05-13T00:00:00Z   Tottenham       Fulham     2     0   H
       7382  2011-12  2012-05-13T00:00:00Z   West Brom      Arsenal     2     3   A
       7383  2011-12  2012-05-13T00:00:00Z       Wigan       Wolves     3     2   H

       [380 rows x 7 columns]                                                      ,
              Season                  Date   HomeTeam     AwayTeam  FTHG  FTAG FTR
       7384  2012-13  2012-08-18T00:00:00Z    Arsenal   Sunderland     0     0   D
       7385  2012-13  2012-08-18T00:00:00Z     Fulham      Norwich     5     0   H
       7386  2012-13  2012-08-18T00:00:00Z  Newcastle    Tottenham     2     1   H
       7387  2012-13  2012-08-18T00:00:00Z        QPR      Swansea     0     5   A
       7388  2012-13  2012-08-18T00:00:00Z    Reading        Stoke     1     1   D
       ...       ...                   ...        ...          ...   ...   ...  ..
       7759  2012-13  2013-05-19T00:00:00Z    Swansea       Fulham     0     3   A
       7760  2012-13  2013-05-19T00:00:00Z  Tottenham   Sunderland     1     0   H
       7761  2012-13  2013-05-19T00:00:00Z  West Brom   Man United     5     5   D
       7762  2012-13  2013-05-19T00:00:00Z   West Ham      Reading     4     2   H
       7763  2012-13  2013-05-19T00:00:00Z      Wigan  Aston Villa     2     2   D

       [380 rows x 7 columns]                                                     ,
              Season                  Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
       7764  2013-14  2013-08-17T00:00:00Z      Arsenal  Aston Villa     1     3   A
       7765  2013-14  2013-08-17T00:00:00Z    Liverpool        Stoke     1     0   H
       7766  2013-14  2013-08-17T00:00:00Z      Norwich      Everton     2     2   D
       7767  2013-14  2013-08-17T00:00:00Z   Sunderland       Fulham     0     1   A
       7768  2013-14  2013-08-17T00:00:00Z      Swansea   Man United     1     4   A
       ...       ...                   ...          ...          ...   ...   ...  ..
       8139  2013-14  2014-05-11T00:00:00Z      Norwich      Arsenal     0     2   A
       8140  2013-14  2014-05-11T00:00:00Z  Southampton   Man United     1     1   D
       8141  2013-14  2014-05-11T00:00:00Z   Sunderland      Swansea     1     3   A
       8142  2013-14  2014-05-11T00:00:00Z    Tottenham  Aston Villa     3     0   H
       8143  2013-14  2014-05-11T00:00:00Z    West Brom        Stoke     1     2   A

       [380 rows x 7 columns]                                                       ,
              Season                  Date    HomeTeam        AwayTeam  FTHG  FTAG  \
       8144  2014-15  2014-08-16T00:00:00Z     Arsenal  Crystal Palace     2     1
       8145  2014-15  2014-08-16T00:00:00Z   Leicester         Everton     2     2
       8146  2014-15  2014-08-16T00:00:00Z  Man United         Swansea     1     2
       8147  2014-15  2014-08-16T00:00:00Z         QPR            Hull     0     1
       8148  2014-15  2014-08-16T00:00:00Z       Stoke     Aston Villa     0     1
       ...       ...                   ...         ...             ...   ...   ...
       8519  2014-15  2015-05-24T00:00:00Z        Hull      Man United     0     0
       8520  2014-15  2015-05-24T00:00:00Z   Leicester             QPR     5     1
       8521  2014-15  2015-05-24T00:00:00Z    Man City     Southampton     2     0
       8522  2014-15  2015-05-24T00:00:00Z   Newcastle        West Ham     2     0
       8523  2014-15  2015-05-24T00:00:00Z       Stoke       Liverpool     6     1

            FTR
       8144   H
       8145   D
       8146   A
       8147   A
       8148   A
       ...   ..
       8519   D
       8520   H
       8521   H
       8522   H
       8523   H

       [380 rows x 7 columns]                                                        ,
              Season                  Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
       8524  2015-16  2015-08-08T00:00:00Z  Bournemouth  Aston Villa     0     1   A
       8525  2015-16  2015-08-08T00:00:00Z      Chelsea      Swansea     2     2   D
       8526  2015-16  2015-08-08T00:00:00Z      Everton      Watford     2     2   D
       8527  2015-16  2015-08-08T00:00:00Z    Leicester   Sunderland     4     2   H
       8528  2015-16  2015-08-08T00:00:00Z   Man United    Tottenham     1     0   H
       ...       ...                   ...          ...          ...   ...   ...  ..
       8899  2015-16  2016-05-15T00:00:00Z        Stoke     West Ham     2     1   H
       8900  2015-16  2016-05-15T00:00:00Z      Swansea     Man City     1     1   D
       8901  2015-16  2016-05-15T00:00:00Z      Watford   Sunderland     2     2   D
       8902  2015-16  2016-05-15T00:00:00Z    West Brom    Liverpool     1     1   D
       8903  2015-16  2016-05-17T00:00:00Z   Man United  Bournemouth     3     1   H

       [380 rows x 7 columns]                                                       ,
              Season                  Date        HomeTeam        AwayTeam  FTHG  \
       8904  2016-17  2016-08-13T00:00:00Z         Burnley         Swansea     0
       8905  2016-17  2016-08-13T00:00:00Z  Crystal Palace       West Brom     0
       8906  2016-17  2016-08-13T00:00:00Z         Everton       Tottenham     1
       8907  2016-17  2016-08-13T00:00:00Z            Hull       Leicester     2
       8908  2016-17  2016-08-13T00:00:00Z        Man City      Sunderland     2
       ...       ...                   ...             ...             ...   ...
       9279  2016-17  2017-05-21T00:00:00Z       Liverpool   Middlesbrough     3
       9280  2016-17  2017-05-21T00:00:00Z      Man United  Crystal Palace     2
       9281  2016-17  2017-05-21T00:00:00Z     Southampton           Stoke     0
       9282  2016-17  2017-05-21T00:00:00Z         Swansea       West Brom     2
       9283  2016-17  2017-05-21T00:00:00Z         Watford        Man City     0

             FTAG FTR

In [14]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)

     # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

In [15]:
# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)

     # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

In [16]:
def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [17]:
for i in range(len(seasons)):
    get_gss(seasons[i])

In [18]:
seasons[15]

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
8524,2015-16,2015-08-08T00:00:00Z,Bournemouth,Aston Villa,0,1,A,0,0,0,0
8525,2015-16,2015-08-08T00:00:00Z,Chelsea,Swansea,2,2,D,0,0,0,0
8526,2015-16,2015-08-08T00:00:00Z,Everton,Watford,2,2,D,0,0,0,0
8527,2015-16,2015-08-08T00:00:00Z,Leicester,Sunderland,4,2,H,0,0,0,0
8528,2015-16,2015-08-08T00:00:00Z,Man United,Tottenham,1,0,H,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8899,2015-16,2016-05-15T00:00:00Z,Stoke,West Ham,2,1,H,39,64,54,49
8900,2015-16,2016-05-15T00:00:00Z,Swansea,Man City,1,1,D,41,70,51,40
8901,2015-16,2016-05-15T00:00:00Z,Watford,Sunderland,2,2,D,38,46,48,60
8902,2015-16,2016-05-15T00:00:00Z,West Brom,Liverpool,1,1,D,33,62,47,49
8903,2015-16,2016-05-17T00:00:00Z,Man United,Bournemouth,3,1,H,46,44,34,64

In [19]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points

In [20]:
def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

In [21]:
def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

In [22]:
for i in range(len(seasons)):
    get_agg_points(seasons[i])

In [23]:
seasons[20]

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP
10424,2020-21,2020-09-12T12:30:00Z,Fulham,Arsenal,0,3,A,0,0,0,0,0,0
10425,2020-21,2020-09-12T15:00:00Z,Crystal Palace,Southampton,1,0,H,0,0,0,0,0,0
10426,2020-21,2020-09-12T17:30:00Z,Liverpool,Leeds,4,3,H,0,0,0,0,0,0
10427,2020-21,2020-09-12T20:00:00Z,West Ham,Newcastle,0,2,A,0,0,0,0,0,0
10428,2020-21,2020-09-13T14:00:00Z,West Brom,Leicester,0,3,A,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,2020-21,2021-05-23T16:00:00Z,Liverpool,Crystal Palace,2,0,H,66,41,42,64,66,44
10800,2020-21,2021-05-23T16:00:00Z,Man City,Everton,5,0,H,78,47,32,43,83,59
10801,2020-21,2021-05-23T16:00:00Z,Sheffield United,Burnley,1,0,H,19,33,63,54,20,39
10802,2020-21,2021-05-23T16:00:00Z,West Ham,Southampton,3,0,H,59,47,47,65,62,43
10803,2020-21,2021-05-23T16:00:00Z,Wolves,Man United,1,2,A,35,71,50,43,45,71

In [24]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

In [25]:
def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent

        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat

In [26]:
def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

In [27]:
for i in range(len(seasons)):
    add_form_df(seasons[i])

In [28]:
seasons[20]

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
10424,2020-21,2020-09-12T12:30:00Z,Fulham,Arsenal,0,3,A,0,0,0,...,M,M,M,M,M,M,M,M,M,M
10425,2020-21,2020-09-12T15:00:00Z,Crystal Palace,Southampton,1,0,H,0,0,0,...,M,M,M,M,M,M,M,M,M,M
10426,2020-21,2020-09-12T17:30:00Z,Liverpool,Leeds,4,3,H,0,0,0,...,M,M,M,M,M,M,M,M,M,M
10427,2020-21,2020-09-12T20:00:00Z,West Ham,Newcastle,0,2,A,0,0,0,...,M,M,M,M,M,M,M,M,M,M
10428,2020-21,2020-09-13T14:00:00Z,West Brom,Leicester,0,3,A,0,0,0,...,M,M,M,M,M,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,2020-21,2021-05-23T16:00:00Z,Liverpool,Crystal Palace,2,0,H,66,41,42,...,W,L,W,W,W,L,W,W,D,L
10800,2020-21,2021-05-23T16:00:00Z,Man City,Everton,5,0,H,78,47,32,...,L,W,W,L,L,D,W,W,W,L
10801,2020-21,2021-05-23T16:00:00Z,Sheffield United,Burnley,1,0,H,19,33,63,...,L,L,W,L,L,W,L,L,W,W
10802,2020-21,2021-05-23T16:00:00Z,West Ham,Southampton,3,0,H,59,47,47,...,W,L,D,W,L,W,W,L,L,D
10803,2020-21,2021-05-23T16:00:00Z,Wolves,Man United,1,2,A,35,71,50,...,L,D,L,L,W,L,D,W,L,D

In [29]:
# Rearranging columns
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

In [30]:
for i in range(len(seasons)):
    seasons[i] = seasons[i][cols]

In [31]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

In [32]:
for i in range(len(seasons)):
    seasons[i] = get_mw(seasons[i])

In [33]:
final_df = pd.concat(seasons)

In [34]:
final_df.shape

(7980, 23)

In [ ]:
final_df.columns

In [35]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

In [36]:
final_df['HTFormPtsStr'] = final_df['HM1'] + final_df['HM2'] + final_df['HM3'] + final_df['HM4'] + final_df['HM5']
final_df['ATFormPtsStr'] = final_df['AM1'] + final_df['AM2'] + final_df['AM3'] + final_df['AM4'] + final_df['AM5']

final_df['HTFormPts'] = final_df['HTFormPtsStr'].apply(get_form_points)
final_df['ATFormPts'] = final_df['ATFormPtsStr'].apply(get_form_points)

In [37]:
# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0

def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0

In [38]:
final_df['HTWinStreak3'] = final_df['HTFormPtsStr'].apply(get_3game_ws)
final_df['HTWinStreak5'] = final_df['HTFormPtsStr'].apply(get_5game_ws)
final_df['HTLossStreak3'] = final_df['HTFormPtsStr'].apply(get_3game_ls)
final_df['HTLossStreak5'] = final_df['HTFormPtsStr'].apply(get_5game_ls)

final_df['ATWinStreak3'] = final_df['ATFormPtsStr'].apply(get_3game_ws)
final_df['ATWinStreak5'] = final_df['ATFormPtsStr'].apply(get_5game_ws)
final_df['ATLossStreak3'] = final_df['ATFormPtsStr'].apply(get_3game_ls)
final_df['ATLossStreak5'] = final_df['ATFormPtsStr'].apply(get_5game_ls)

final_df.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'MW', 'HTFormPtsStr', 'ATFormPtsStr',
       'HTFormPts', 'ATFormPts', 'HTWinStreak3', 'HTWinStreak5',
       'HTLossStreak3', 'HTLossStreak5', 'ATWinStreak3', 'ATWinStreak5',
       'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [45]:
# Get Goal Difference
final_df['HTGD'] = final_df['HTGS'] - final_df['HTGC']
final_df['ATGD'] = final_df['ATGS'] - final_df['ATGC']

# Diff in points
final_df['DiffPts'] = final_df['HTP'] - final_df['ATP']
final_df['DiffFormPts'] = final_df['HTFormPts'] - final_df['ATFormPts']

In [46]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']
final_df.MW = final_df.MW.astype(float)

for col in cols:
    final_df[col] = final_df[col] / final_df.MW

In [49]:
def only_hw(string):
    if string == 'H':
        return 'H'
    else:
        return 'NH'
    
final_df['FTR'] = final_df.FTR.apply(only_hw)

In [50]:
final_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
2824,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2825,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2826,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,NH,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2827,2000-08-19T00:00:00Z,Derby,Southampton,2,2,NH,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2828,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,2021-05-23T16:00:00Z,Liverpool,Crystal Palace,2,0,H,66,41,42,64,...,0,0,0,0,0,0,0.631579,-0.605263,0.578947,0.184211
10800,2021-05-23T16:00:00Z,Man City,Everton,5,0,H,78,47,32,43,...,0,0,0,0,0,0,1.210526,0.105263,0.631579,0.052632
10801,2021-05-23T16:00:00Z,Sheffield United,Burnley,1,0,H,19,33,63,54,...,0,0,0,0,0,0,-1.157895,-0.552632,-0.500000,0.000000
10802,2021-05-23T16:00:00Z,West Ham,Southampton,3,0,H,59,47,47,65,...,0,0,0,0,0,0,0.315789,-0.473684,0.500000,0.000000
10803,2021-05-23T16:00:00Z,Wolves,Man United,1,2,NH,35,71,50,43,...,0,0,0,0,0,0,-0.394737,0.736842,-0.684211,-0.026316